<div class="row">
    <div class="column_build">
        <div class="card_build">
            <img src="/assets/images/team/dali.png" alt="Zak" style="width:100%">
            <div class="container">
                <h6>Zak Essa</h6>
                <p class="title">Project Lead</p>
                <p class="team_small">Zak loves to bring people together for the social good and believes that
                    technology can play an important part in bridging the inequalities faced by people living in rural
                    areas. Zak’s role in the centre involved coordinating and collaborating with the local community,
                    Bulungula Incubator, Bulungula College, The Delta and all the exceptional people that were a part of
                    the team. His favourite quote is, “The possibilities are endless when a group of committed,
                    creative, inspired, empowered, engaged leaders go beyond their personal limitations and comfort and
                    form a team to take responsibility for the greater good.”
                </p>
            </div>
        </div>
    </div>

    <div class="column_build">
        <div class="card_build">
            <img src="/assets/images/team/sam.png" alt="Claude" style="width:100%">
            <div class="container">
                <h6>Claude Formanek</h6>
                <p class="title">Technical Team</p>
                <p class="team_small">Claude is a masters candidate at the University of Cape Town. He is passionate
                    about using technology as a force for good in Africa. Claude has a background in Computer Science
                    and played a crucial role in bringing the computer lab to life from a technical standpoint.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="column_build">
        <div class="card">
            <img src="/assets/images/team/paul.png" alt="Paul" style="width:100%">
            <div class="container">
                <h6>Twesigye "Paul" Twekye</h6>
                <p class="title">Technical Team</p>
            </div>
        </div>
    </div>
    <div class="column_build">
        <div class="card">
            <img src="/assets/images/team/paul.png" alt="Paul" style="width:100%">
            <div class="container">
                <h6>Twesigye "Paul" Twekye</h6>
                <p class="title">Technical Team</p>
            </div>
        </div>
    </div>
</div>