<div class="row">
    <div class="column">
        <div class="card_build">
            <img src="/assets/images/team/zak.png" alt="Zak" style="width:100%">
            <div class="container">
                <h6>Zak Essa</h6>
                <p class="title">Project Lead</p>
            </div>
            <p class="team_small">Zak loves to bring people together for the social good and believes that
                technology can play an important part in bridging the inequalities faced by people living in rural
                areas. Zak’s role in the centre involved coordinating and collaborating with the local community,
                Bulungula Incubator, Bulungula College, The Delta and all the exceptional people that were a part of
                the team. His favourite quote is, “The possibilities are endless when a group of committed,
                creative, inspired, empowered, engaged leaders go beyond their personal limitations and comfort and
                form a team to take responsibility for the greater good.”
            </p>
        </div>
    </div>

    <div class="column">
        <div class="card_build">
            <img src="/assets/images/team/claude.png" alt="Claude" style="width:100%">
            <div class="container">
                <h6>Claude Formanek</h6>
                <p class="title">Technical Team</p>
                <p class="team_small">Claude is a masters candidate at the University of Cape Town. He is passionate
                    about using technology as a force for good in Africa. Claude has a background in Computer Science
                    and played a crucial role in bringing the computer lab to life from a technical standpoint.
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card_build">
            <img src="/assets/images/team/callum.png" alt="Callum" style="width:100%">
            <div class="container">
                <h6>Callum Tilbury</h6>
                <p class="title">Technical Team</p>
            </div>
            <p class="team_small">Callum is an aspiring computer engineer, moving in the direction of artificial
                intelligence. He is excited to leverage 21st century technology to help overcome deeply-rooted
                injustices, by
                collaborating with a diverse group of passionate people. Callum was grateful to be a part of the
                Bulungula tech team---helping design, test, and ultimately build the final system.
            </p>
        </div>
    </div>

</div>

<div class="row">
    <div class="column">
        <div class="card_build">
            <img src="/assets/images/team/nic.png" alt="Nic" style="width:100%">
            <div class="container">
                <h6>Nic Reid</h6>
                <p class="title">Technical Team</p>
                <p class="team_small">Nic is a Mechatronics engineer, working in the solar energy industry in Cape Town.
                    He is passionate about sustainability and afro-centric tech. If he is not building things, you can
                    catch him on the mountains or in the ocean! Nic is looking forward to the future of this team and
                    the projects to come. The Bulungula Tech Centre is just the beginning.
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card_build">
            <img src="/assets/images/team/ryan.png" alt="Ryan" style="width:100%">
            <div class="container">
                <h6>Ryan Anderson</h6>
                <p class="title">Technical Team</p>
            </div>
            <p class="team_small">Ryan is a statistician by training but also has a keen interest in software
                development. Bringing these together, he strives to develop tech-based solutions that add value to
                under-served groups. On this project, Ryan contributed primarily to the sustainability of the centre. He
                put structures in place to ensure that the centre will operate smoothly for the foreseeable future
                without us needing to be present.
            </p>
        </div>
    </div>
    <div class="column">
        <div class="card_build">
            <img src="/assets/images/team/blank.png" alt="blank" style="width:100%">
            <div class="container">
                <h6></h6>
                <p class="title"></p>
            </div>
            <p class="team_small"></p>
        </div>
    </div>
</div>