<div class="row">
    <div class="column">
        <div class="card">
            <img src="/assets/images/team/sam.png" alt="Claude" style="width:100%">
            <div class="container">
                <h6>Claude Formanek</h6>
                <p class="title">Technical Team</p>
                <p>Claude is a masters candidate at the University of Cape Town. He is passionate about using technology
                    as a force for good in Africa. Claude has a background in Computer Science and played a crucial role
                    in bringing the computer lab to life from a technical standpoint.
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/assets/images/team/dali.png" alt="Dali" style="width:100%">
            <div class="container">
                <h6>Mabhalane "Dali" Maleyile</h6>
                <p class="title">Technical Team</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/assets/images/team/paul.png" alt="Paul" style="width:100%">
            <div class="container">
                <h6>Twesigye "Paul" Twekye</h6>
                <p class="title">Technical Team</p>
            </div>
        </div>
    </div>
</div>