<div class="row">
    <div class="column">
        <a href="http://www.bulungulaincubator.org"><img src="/assets/images/team/bulungula_incubator.jpg" alt="BI"
                style="width:100%"></a>
        <div class="container">
            <h6>Bulungula Incubator</h6>
        </div>
        <p class="partners_small">Bulungula Incubator aims to sustainably end poverty in a generation while
            enhancing
            community life and cohesiveness. They do this by partnering with the community, government, NGOs, and
            other
            innovative thinkers to find synergies between the traditional rural-African lifestyle and culture, and
            external innovations. The incubator provided as a platform to interact with the community, traditional
            leaders and support to build a tech centre according to the communities needs.
        </p>
    </div>
    <div class="column">
        <a href="http://www.bulungulacollege.org"><img src="/assets/logos/logo.png" alt="College"
                style="width:100%"></a>
        <div class="container">
            <h6>Bulungula College</h6>
            <p class="partners_small">Bulungula College is the first no-fee independent school in the Xhora Mouth area
                and aims to become a sustainable model for excellent high school education for all learners – regardless
                of ability – in rural and remote areas. Bulungula College provided us with a classroom to build the
                centre as well as access to their solar system that powers the school currently.

            </p>
        </div>
    </div>
    <div class="column">
        <a href="http://www.thedelta.io"><img src="/assets/images/team/delta.png" alt="Delta" style="width:100%"></a>
        <div class="container">
            <h6>The Delta</h6>
        </div>
        <p class="partners_small">The Delta is an international venture-development company that has launched over 20
            ventures in the last two years. The Delta provided the financial support to fund the initial costs of the
            Bulungula Tech Centre as well as operational costs for the first two years of the centre’s operations.
            Additionally, The Delta’s offices served as an invaluable space to test, iterate and validate the technology
            used in the Bulungula Tech Centre before building it in the rural Eastern Cape.

        </p>
    </div>
</div>