<div class="row">
    <div class="column">
        <img src="/assets/images/team/bulungula_incubator.jpg" alt="BI" style="width:100%">
        <div class="container">
            <h6>Bulungula Incubator</h6>
        </div>
        <p class="partners_small">Zak loves to bring people together for the social good and believes that
            technology can play an important part in bridging the inequalities faced by people living in rural
            areas. Zak’s role in the centre involved coordinating and collaborating with the local community,
            Bulungula Incubator, Bulungula College, The Delta and all the exceptional people that were a part of
            the team. His favourite quote is, “The possibilities are endless when a group of committed,
            creative, inspired, empowered, engaged leaders go beyond their personal limitations and comfort and
            form a team to take responsibility for the greater good.”
        </p>
    </div>
    <div class="column">
        <img src="/assets/logos/logo.png" alt="College" style="width:100%">
        <div class="container">
            <h6>Bulungula College</h6>
            <p class="partners_small">Claude is a masters candidate at the University of Cape Town. He is passionate
                about using technology as a force for good in Africa. Claude has a background in Computer Science
                and played a crucial role in bringing the computer lab to life from a technical standpoint.
            </p>
        </div>
    </div>
    <div class="column">
        <img src="/assets/images/team/delta.png" alt="Delta" style="width:100%">
        <div class="container">
            <h6>The Delta</h6>
        </div>
        <p class="partners_small">Callum is an aspiring computer engineer, moving in the direction of artificial
            intelligence. He is excited to leverage 21st century technology to help overcome deeply-rooted
            injustices, by
            collaborating with a diverse group of passionate people. Callum was grateful to be a part of the
            Bulungula tech team---helping design, test, and ultimately build the final system.
        </p>
    </div>
</div>