<div class="row">
    <div class="column">
        <div class="card">
            <img src="/assets/images/team/sam.jpeg" alt="Samora" style="width:100%">
            <div class="container">
                <h6>Samora Dodwana</h6>
                <p class="title">Centre Administrator</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/assets/images/team/dali.jpeg" alt="Dali" style="width:100%">
            <div class="container">
                <h6>Mabhalane "Dali" Maleyile</h6>
                <p class="title">Centre Administrator</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src=/assets/images/team/paul.jpeg" alt="Paul" style="width:100%">
            <div class="container">
                <h6>Twesigye "Paul" Twekye</h6>
                <p class="title">Centre Administrator</p>
            </div>
        </div>
    </div>
</div>