<div class="row">
    <div class="column">
        <div class="card">
            <img src="img1.jpg" alt="Samora" style="width:100%">
            <div class="container">
                <h4>Jane Doe</h4>
                <p class="title">Centre Administrator</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="img2.jpg" alt="Dali" style="width:100%">
            <div class="container">
                <h4>Mike Ross</h4>
                <p class="title">Centre Administrator</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="img3.jpg" alt="Paul" style="width:100%">
            <div class="container">
                <h4>John Doe</h4>
                <p class="title">Centre Administrator</p>
            </div>
        </div>
    </div>
</div>