<div class="row">
    <div class="column">
        <div class="card">
            <img src="img1.jpg" alt="Samora" style="width:100%">
            <div class="container">
                <h4>Samora Dodwana</h4>
                <p class="title">Centre Administrator</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="img2.jpg" alt="Dali" style="width:100%">
            <div class="container">
                <h4>Mabhalane "Dali" Maleyile</h4>
                <p class="title">Centre Administrator</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="img3.jpg" alt="Paul" style="width:100%">
            <div class="container">
                <h4>Twesigye "Paul" Twekye</h4>
                <p class="title">Centre Administrator</p>
            </div>
        </div>
    </div>
</div>