// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #05bf85 !default;

// Text colours
$headingColour: #0000F2 !default;
$bodyColour: #0000F2 !default;
$linkColour: #0000F2 !default;
$hoverColour: #F78F8B !default;
$focusColour: #F78F8B !default;
$captionColour: #F78F8B !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: "Roboto Mono, monospace",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: "Roboto Mono, monospace",
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Roboto Mono, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// TIP: Load custom fonts in _config.yaml
